<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <title>Repl</title>
</head>
<body>
  <!-- <iframe height="400px" width="100%" src="https://repl.it/@donteatrice/wot-server-stats?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> -->
  <div class="container">
    <header>
      <h1>H.. H.. Hello Stranger..</h1>
      <span>Are you looking for one of this?</span>
      <ul>
        <li><a href="">Main site on Heroku</a></li>
        <li><a href="">Main site Github repo</a></li>
        <li>Code hosted on repl: [<a href="/embed">repl</a>] [<a href="https://github.com/DontEatRice/wot-server-stats-harvester">Github</a>]</li>
      </ul>
    </header>
  </div>
  <script src="script.js"></script>
</body>
</html>